.best-panorama {
  position: relative;
}

.best-panorama__img {
  margin-left: -20px;
  position: relative;

  &::before {
    @include titles-white;
    content: "Панорама дня";
    font-size: 12px;
    position: absolute;
    top: -122px;
    right: 21px;
    background-color: $red;
    padding: 10px 19px;
    box-sizing: border-box;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 660px) {
  .best-panorama {
    width: 100%;
    margin-bottom: 51px;
    display: block;
    padding-bottom: 0;

    .gallery__meta {
      @include flex-container;
      justify-content: space-between;
      flex-direction: row;
      padding-left: 28px;
      padding-right: 12px;
      padding-top: 21px;
      padding-bottom: 15px;
      min-height: 0;
    }

    .gallery__likes {
      order: 1;
      margin-top: 2px;
      margin-bottom: 1px;
    }

    .gallery__likes::before {
      margin-left: 17px;
      margin-right: 17px;
      margin-top: 0;
    }

    .gallery__message {
      order: 2;
      margin-bottom: 9px;
    }
  }

  .best-panorama__mark {
    top: 56px;
  }

  .best-panorama__img {
    width: 660px;
    height: 509px;

    img {
      width: 700px;
      height: fit-content;
      margin-left: -20px;
    }

    &::before {
      padding: 10px 19px;
      top: -439px;
      right: 40px;
    }
  }
}

@media (min-width: 960px) {
  .best-panorama {
    margin-bottom: 51px;
  }

  .best-panorama__img {
    margin-left: -130px;
    width: 1200px;
    height: 506px;

    img {
      width: 1200px;
      margin-left: 0;
    }

    &::before {
      line-height: 12px;
      top: -436px;
      right: 130px;
      padding: 11px 19px;
    }
  }

  .gallery__likes {
    margin-right: 2px;
  }
}
