.button {
  @include mobile-block;
  border: 3px solid #ffffff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 14px 15px 13px;
  outline: none;
}

.button--active {
  color: $red;
  border-color: $red;

  &:hover {
    background-color: $red;
    color: #ffffff;
  }

  &:active {
    background-color: $red;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.button--cancel {
  background: transparent;
  border-color: $dark-blue;
  color: $dark-blue;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
    background: $dark-blue;
  }
}
