.button {
  @include mobile-block;
  border: 3px solid #ffffff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 14px 15px 13px;
}

.button--active {
  color: $red;
  border-color: $red;
}

.button--disabled {
  background: transparent;
  border-color: #dddfe0;
  color: #e3e4e4;
}
