.contest {
  @include centered($mobile-width);
  padding-bottom: 34px;
}

.contest__info {
  @include reset-margin-padding;
  @include block-padding($mobile-block-padding);
  text-align: center;
  padding-top: 47px;
  line-height: $line-h-big1;
  margin-bottom: 29px;

  &--additional {
    display: none;
  }
}

.contest__form {
  @include flex-container;
  flex-wrap: wrap;
}

.contest__personal-info,
.contest__archievements,
.contest__app-type,
.contest__contacts,
.contest__emotions {
  @include reset-margin-padding;
  @include block-padding($mobile-block-padding);
  border: none;
  margin-bottom: 28px;
  position: relative;
}

.contest__contacts {
  order: 3;
}

.contest__personal-info {
  margin-bottom: 31px;
}

.contest__list {
  @include reset-list;
}

.contest__input {
  box-sizing: border-box;
  width: 100%;
  min-height: 64px;
  border: 2px solid #e5e5e5;
  padding: 15px 22px;
  margin-bottom: 12px;
  line-height: 31px;

  &:hover {
    border-color: $dark-blue;
  }

  &--error {
    border-color: $red;
  }
}

.contest__label-input {
  display: block;
  text-align: left;
  color: #d22856;
  text-transform: uppercase;
  line-height: 30px;
  margin-left: 13px;
  padding: 4px 10px;
}

.contest__input::placeholder {
  font: $regular-font "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

/*Использовал !important т.к. для IE11 он необходим,
 чтобы переопределить стандартные стили плейсхолдера*/

.contest__input:-ms-input-placeholder {
  font: $regular-font "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

.contest__archievements-list {
  @include block-padding($mobile-block-padding);
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.contest__item-checkbox:nth-child(2) {
  order: 3;
}

.contest__item-checkbox:nth-child(3) {
  order: 5;
}

.contest__item-checkbox:nth-child(4) {
  order: 2;
}

.contest__item-checkbox:nth-child(5) {
  order: 4;
}

.contest__item-checkbox:nth-child(6) {
  order: 6;
}

.contest__archievements {
  order: 2;
  position: relative;
  padding-top: 114px;
}

.contest__title {
  @include reset-margin-padding;
  position: absolute;
  top: 38px;
  left: 35px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 35px;

  &--hidden {
    display: none;
  }
}

.contest__app-type {
  order: 4;
  position: relative;
  padding-top: 110px;
  padding-bottom: 4px;
}

.contest__item-checkbox {
  margin-bottom: 42px;
}

.contest__label-check {
  @include flex-container;
  justify-content: flex-start;
  margin: auto 0;
  font-size: 18px;
  line-height: 40px;
  vertical-align: middle;
  flex-wrap: nowrap;

  &::before {
    @include radio-check;
    border-radius: 50%;
    margin: auto 0;
    margin-right: 30px;
    flex-shrink: 0;
    content: "";
  }
}

.contest__label-text {
  max-width: 210px;
}

.contest__label-check--box {
  &::before {
    border-radius: 0;
  }
}

.contest__label-check:hover::before {
  border-color: $dark-blue;
}

.contest__label-check:active::before {
  border-color: $red;
}

.contest__checkbox-box,
.contest__radio-box {
  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $red;
  }
}

.contest__item-radio {
  margin-bottom: 35px;
}

input:focus ~ .contest__label-check::before {
  border-color: $dark-blue;
}

input:active ~ .contest__label-check::before {
  border-color: $red;
}

input:checked ~ .contest__label-check::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: 0 0;
}

input:checked ~ .contest__label-check--box::before {
  background-image: url("../img/icon-yes-red.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px 18px;
}

.contest__archievements,
.contest__app-type {
  background-color: #f2f2f2;
}

.contest__story {
  box-sizing: border-box;
  width: 100%;
  height: 202px;
  padding: 15px 19px 3px;
  border: 2px solid #e5e5e5;
  font: 18px "Open Sans", "Arial", sans-serif;
  color: #283645;
  line-height: $line-h-big1;
}

.contest__emotions {
  order: 5;
  padding-top: 45px;
  margin-bottom: 43px;

  .contest__title {
    top: 11px;
    left: 34px;
  }
}

.contest__end-of-form {
  @include block-padding($mobile-block-padding);
  order: 6;
  width: 100%;
}

.contest_button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.contest__about-required {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.contest__about-add {
  display: none;
}

.contest__highlighted {
  color: #d22856;
}

@media (min-width: 660px) {
  .contest {
    @include centered($tablet-width);
    padding-top: 92px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .contest__form {
    @include block-padding($mobile-block-padding);
    justify-content: space-between;
  }

  .contest__label-input {
    margin-right: 8px;
    margin-left: 0;
    padding-left: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    align-self: center;
  }

  .contest__item-input {
    margin-bottom: 51px;

    &--inline {
      @include flex-container;
      flex-wrap: nowrap;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 22px;
      }
    }
  }

  .contest__label-check {
    &::before {
      margin-right: 22px;
    }
  }

  .contest__label-input--order1,
  .contest__label-input--order2 {
    order: 1;
    margin-left: 20px;
    margin-top: 5px;
  }

  .contest__input--phone {
    background-image:
      url("../img/icon-phone.svg"),
      linear-gradient(to left, #e5e5e5, #e5e5e5);
    background-position: 457px 20px, 437px 0;
    background-size: 20px 21px, 64px 64px;
    background-repeat: no-repeat;
  }

  .contest__input--mail {
    background-image:
      url("../img/icon-mail.svg"),
      linear-gradient(to left, #e5e5e5, #e5e5e5);
    background-position: 457px 20px, 437px 0;
    background-size: 18px 15px, 64px 64px;
    background-repeat: no-repeat;
  }

  .contest__input {
    margin-bottom: 0;
    line-height: 30px;
  }

  .contest__info {
    @include reset-margin-padding;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;

    &--additional {
      display: block;
    }
  }

  .contest__personal-info {
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 14px;
  }

  .contest__item-input--inline label {
    margin-right: 8px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }

  .contest__app-type {
    order: 0;
    display: block;
    background: transparent;
    border: 2px solid #e5e5e5;
    padding: 44px 57px 20px;
    margin-bottom: 63px;

    .contest__title {
      left: 118px;
    }
  }

  .contest__list {
    &--apps {
      padding-top: 8px;
    }
  }

  .contest__radio-box {
    margin-right: 21px;
  }

  .contest__checkbox-box {
    margin-right: 22px;
  }

  .contest__contacts {
    order: 0;
    border: 2px solid #e5e5e5;
    padding: 45px 58px 0;
    margin-bottom: 64px;

    .contest__input {
      padding-left: 19px;
    }

    .contest__title {
      left: 179px;
    }
  }

  .contest__archievements {
    order: 0;
    background: transparent;
    border: 2px solid #e5e5e5;
    padding: 51px 57px 6px;
    margin-bottom: 65px;

    .contest__title {
      left: 91px;
    }
  }

  .contest__emotions {
    order: 0;
    border: 2px solid #e5e5e5;
    padding: 45px 57px 48px;

    .contest__title {
      padding: 0 35px;
      top: -10px;
      left: 180px;
    }
  }

  .contest__story {
    padding-bottom: 24px;
    height: 192px;
  }

  .contest__end-of-form {
    order: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 25px;
    margin-bottom: 54px;
  }

  .contest__about-required {
    @include flex-container;
    margin: auto 0;
    width: auto;
    max-width: 320px;
  }

  .contest_button {
    width: 300px;
    margin: auto 0;
  }

  .contest__title {
    position: absolute;
    width: auto;
    padding: 0 30px;
    background: #ffffff;
    top: -10px;

    &--hidden {
      display: block;
    }
  }
}

@media (min-width: 960px) {
  .contest {
    @include centered($desktop-width);
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .contest__form {
    @include block-padding($desktop-block-padding);
  }

  .contest__info {
    padding: 0 80px;
    margin-bottom: 78px;
  }

  .contest__info--additional {
    display: inline;
    padding: 0;
  }

  .contest__personal-info,
  .contest__app-type {
    width: 435px;
  }

  .contest__personal-info {
    margin-bottom: 11px;
    padding-top: 7px;
  }

  .contest__app-type {
    padding-top: 49px;
    padding-left: 73px;
    margin-bottom: 63px;

    .contest__title {
      position: absolute;
      top: -10px;
      left: 26px;
    }
  }

  .contest__list--apps {
    padding-top: 6px;
  }

  .contest__item-input {
    margin-bottom: 52px;
  }

  .contest__contacts {
    padding-top: 42px;

    .contest__title {
      left: 339px;
    }
  }

  .contest__item-input--contacts {
    margin-left: 0;
    width: 375px;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 9px;
    }

    .contest__input {
      background-position: 332px 20px, 312px 0;
    }
  }

  .contest__contacts .contest__list {
    @include flex-container;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: 200px;
  }

  .contest__archievements {
    padding-bottom: 13px;
    padding-left: 52px;
    padding-right: 0;

    .contest__title {
      left: 251px;
    }
  }

  .contest__archievements-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .contest__item-checkbox {
      order: 0;
    }
  }

  .contest__item-checkbox:nth-child(3n+1) {
    width: 263px;
    margin-left: 5px;
  }

  .contest__item-checkbox:not(:nth-child(3n+3)) {
    margin-right: 49px;
  }

  .contest__item-checkbox:nth-child(3n+2) {
    width: 243px;
    margin-left: 5px;
  }

  .contest__emotions {
    margin-bottom: 37px;
    padding-bottom: 41px;
    padding-top: 42px;

    .contest__title {
      left: 341px;
    }
  }

  .contest__end-of-form {
    padding-top: 27px;
  }

  .contest__story {
    height: 127px;
  }

  .contest__about-required {
    width: auto;
  }

  .contest__highlighted {
    margin-right: 3px;
  }

  .contest__about-add {
    display: inline;
  }

  .contest_button {
    width: 300px;
  }
}
