.contest {
  margin-bottom: 40px;
}

.contest__info {
  @include block-padding($mobile-block-padding);
  text-align: center;
}

.contest__personal-info,
.contest__archievements,
.contest__app-type,
.contest__contacts,
.contest__emotions {
  @include reset-margin-padding;
  @include block-padding($mobile-block-padding);
  border: none;
  margin-bottom: 42px;
}

.contest__list {
  @include reset-list;
}

.contest__input {
  width: 100%;
}

.contest__label-input {
  text-align: left;
  color: #d22856;
}

.contest__archievements-list {
  @include block-padding($mobile-block-padding);
  @include reset-list;
}

.contest__title {
  @include reset-margin-padding;
  width: 250px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 35px;

  &--hidden {
    display: none;
  }
}

.contest__radio,
.contest__checkbox {
  display: none;
}

.contest__label-check {
  font-size: 18px;
  line-height: 43px;
  vertical-align: middle;
}

.contest__checkbox-box {
  display: inline-block;
  border-radius: 5px;
  width: 43px;
  height: 43px;
  border: 2px solid #e5e5e5;
}

.contest__radio-box {
  width: 43px;
  height: 43px;
  border: 2px solid #e5e5e5;
  display: inline-block;
  border-radius: 50%;
}

input:checked ~ .contest__label-check .contest__checkbox-box {
  background-image: url("../../img/icon-yes-red.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

input:checked ~ .contest__label-check .contest__radio-box {
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contest__archievements,
.contest__app-type {
  background-color: #f2f2f2;
}

.contest__story {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  padding: 20px;
}

.contest_button {
  margin-bottom: 40px;
}

.contest__about-required {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.contest__highlighted {
  color: #d22856;
}

@media (min-width: 660px) {
  .contest__form {
    @include flex-container;
    justify-content: space-between;
  }

  .contest_item-input {
    &--inline {
      @include flex-container;
      flex-wrap: nowrap;
      margin-left: 20px;
    }
  }

  .contest_item-input--inline label {
    margin-right: 20px;
  }

  .contest__app-type {
    order: 1;
    background: transparent;
    border: 1px solid #e5e5e5;
  }

  .contest__contacts {
    order: 2;
    border: 1px solid #e5e5e5;
  }

  .contest__archievements {
    order: 3;
    background: transparent;
    border: 1px solid #e5e5e5;
  }

  .contest__emotions {
    border: 1px solid #e5e5e5;
    order: 4;
  }

  .contest_button {
    order: 5;
  }

  .contest__about-required {
    order: 6;
  }

  .contest__title {
    width: auto;

    &--hidden {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .contest__form {
    @include block-padding($desktop-block-padding);
  }

  .contest__personal-info,
  .contest__app-type {
    width: 45%;
  }

  .contest__contacts .contest__list {
    @include flex-container;
  }

  .contest__contacts .contest_item-input {
    width: 45%;
    margin-left: 20px;
  }

  .contest__archievements-list {
    @include flex-container;
  }

  .contest_button,
  .contest__about-required {
    width: auto;
  }
}
