.features {
  text-align: center;
}

.features__white-wrapper {
  @include block-padding($mobile-block-padding);
  background: #ffffff;
}

.features__beige-wrapper {
  @include block-padding($mobile-block-padding);
  background-color: #f2f2f2;
}

.features__list {
  @include reset-list;
}

.features__title {
  @include titles;
}

.features__triangle {
  margin-left: -20px;
}

.features__triangle polygon {
  fill: #ffffff;
}

.features__item--last {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50px 120px;
  padding-bottom: 300px;
}


@media (min-width: 660px) {
  .features__list {
    padding-left: 300px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
  }

  .features__item--last {
    background: none;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .features {
    @include block-padding($desktop-block-padding);
  }

  .features__list {
    @include flex-container;
    justify-content: space-between;
    background-image: none;
    padding-left: 0;
  }

  .features__item {
    width: 270px;
    padding-top: 500px;
  }

  .features__item--1 {
    background-image: url("../img/iphone-screen-1-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  .features__item--2 {
    background-image: url("../img/iphone-screen-2-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  .features__item--3 {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
