.feedback {
  @include block-padding($mobile-block-padding);
  @include centered($mobile-width);
  text-align: center;
  padding-top: 45px;
  padding-bottom: 40px;
}

.feedback__title {
  @include titles;
}

.feedback__text {
  @include reset-margin-padding;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.feedback__arrow-left,
.feedback__arrow-right {
  display: none;
  background: transparent;
  border: none;
  outline: none;
}

.feedback__list {
  @include reset-list;
}

.feedback__profile {
  display: none;
}

.feedback__name {
  @include reset-margin-padding;
  @include titles;
}

.feedback__item {
  display: none;
}

.feedback__item--first {
  display: block;
}

.feedback__toggles {
  margin-top: 28px;
}

.feedback__quotes {
  display: none;
}

@media (min-width: 660px) {
  .feedback {
    @include centered($tablet-width);
    padding-top: 82px;
    padding-bottom: 22px;
  }

  .feedback__list {
    margin-bottom: 34px;
  }

  .feedback__item--first {
    display: flex;
    flex-direction: column-reverse;
  }

  .feedback__profile {
    @include reset-margin-padding;
    display: block;
    margin-top: 10px;
  }

  .feedback__text {
    @include reset-margin-padding;
    @include heading($title-font, $font-regular, $line-h-big1);
    margin-top: 12px;
    margin-bottom: 36px;
  }

  .feedback__name {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .feedback {
    @include block-padding($desktop-block-padding);
    @include centered($desktop-width);
    padding-top: 73px;
    padding-bottom: 9px;
  }

  .feedback__quotes {
    display: block;
    margin: 0 auto;
    margin-bottom: 38px;
    width: 79px;
    height: 63px;
    fill: #efefef;
  }

  .feedback__text {
    padding: 0 80px;
    position: relative;

    .feedback__arrow-left {
      display: block;
      position: absolute;
      top: 15px;
      left: 0;
      opacity: 0.3;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.1;
      }
    }

    .feedback__arrow-right {
      display: block;
      position: absolute;
      top: 15px;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.1;
      }
    }
  }

  .feedback__name {
    @include heading($large-font, $font-bold, $line-h-big1);
  }

  .feedback__profile {
    @include heading($title-font, $font-regular, $line-h-big1);
    margin-top: 4px;
  }

  .feedback__toggles {
    display: none;
  }
}
