.form-button {
  @include titles-white;
  display: block;
  width: 280px;
  background-color: #2aab6d;
  border: none;
  padding: 17px 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
