.form-button {
  @include titles-white;
  display: block;
  width: 280px;
  background-color: #2aab6d;
  border: none;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}
