.funny-info {
  display: none;
}

@media (min-width: 660px) {
  .funny-info {
    @include block-padding($tablet-block-padding);
    @include flex-container;
    justify-content: space-between;
  }

  .funny-info__text-wrapper {
    width: 310px;
  }
}

@media (min-width: 1200px) {
  .funny-info {
    @include block-padding($desktop-block-padding);
    background-color: #f2f2f2;
  }

  .funny-info__text-wrapper {
    width: 570px;
  }
}
