.gallery_invitation {
  @include block-padding($mobile-block-padding);
  @include reset-margin-padding;
  text-align: center;
  line-height: $line-h-big1;
  padding: 46px 34px 49px;
}

.gallery__list {
  @include reset-list;
  @include block-padding($mobile-block-padding);
}

.gallery__item {
  background-color: #f2f2f2;
  margin-bottom: 19px;
}

.gallery__meta {
  @include block-padding($mobile-block-padding);
  line-height: 24px;
  padding: 14px 18px 0;
}

.gallery__info {
  @include reset-margin-padding;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery__name {
  font-weight: bold;
  font-size: 14px;
  text-transform: none;
}

.gallery__likes {
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  color: $red;
  margin-bottom: 20px;
}

.gallery__likes::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart-red.svg");
  margin-right: 17px;
}

.gallery__message {
  @include reset-margin-padding;
  margin-bottom: 9px;
}


@media (min-width: 660px) {
  .gallery {
    margin-bottom: 25px;
  }

  .gallery_invitation {
    font-size: $title-font;
    line-height: $line-h-big1;
    padding: 91px 110px 77px;
  }

  .gallery__meta {
    @include flex-container;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    line-height: 18px;
    padding-top: 25px;
    padding-left: 27px;
    min-height: 129px;
    box-sizing: border-box;
  }

  .gallery__info {
    margin-top: 2px;
    margin-bottom: 1px;
  }

  .gallery__message {
    line-height: $line-h-big;
    width: 100%;
    margin-bottom: 16px;
  }

  .gallery__likes {
    @include flex-container;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
  }

  .gallery__list {
    @include flex-container;
    justify-content: space-between;
  }

  .gallery__item {
    @include flex-container;
    flex-direction: column;
    width: 300px;
    padding-bottom: 26px;
  }

  .gallery__img {
    width: 300px;
    height: 300px;
  }

  .gallery__likes::before {
    margin-right: 14px;
    margin-top: 1px;
  }
}


@media (min-width: 960px) {
  .gallery {
    margin-bottom: 5px;
  }

  .gallery_invitation {
    padding: 91px 160px 88px;
  }

  .gallery__list {
    @include block-padding($desktop-block-padding);
  }

  .gallery__item {
    width: 300px;
    margin-bottom: 55px;
  }

  .gallery__img {
    width: 300px;
    height: 400px;
  }
}
