.page-title {
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 30px;
}

.page-title--index {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 108px;
  padding-top: 394px;
  padding-bottom: 0;
}

.page-title__title {
  @include block-padding($mobile-block-padding);
  @include reset-margin-padding;
  @include big-light-text;
  padding-top: 30px;
  padding-bottom: 48px;
  color: #ffffff;
  text-align: center;
}

.page-title__title--main {
  display: none;
}

@media (min-width: 660px) {
  .page-title--index {
    background-image:
      url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px 75px;
    padding-top: 60px;

    .page-title__title {
      display: block;
      width: 235px;
      font-size: 40px;
      margin-left: 55px;
      padding-bottom: 0;
      line-height: 50px;
    }
  }

  .page-title__title {
    font-size: 40px;
  }

  .page-title__wrapper {
    @include reset-margin-padding;
    width: 300px;
  }

  .page-title__title {
    font-size: 50px;
  }
}

@media (min-width: 960px) {
  .page-title--index {
    padding-top: 70px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 25px 95px;

      .page-title__title {
        @include biggest-light-text;
        margin-left: 40px;
        width: 235px;
        padding-top: 35px;
        margin-bottom: 53px;
        line-height: 60px;
      }
  }
}
