.page-footer__logo {
  display: block;
  margin: 0 auto;
}

.page-footer__maintained-link {
  @include flex-container;
  justify-content: center;
  text-decoration: none;
  color: #283645;
}

.page-footer__maintained {
  margin-bottom: 40px;
}

.page-footer__maintained-logo {
  margin-left: 15px;
}

.page-footer--index {
  display: none;
}

@media (min-width: 660px) {
  .page-footer {
    @include block-padding($tablet-block-padding);
    @include flex-container;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }
}

@media (min-width: 960px) {
  .page-footer {
    @include block-padding($desktop-block-padding);
  }
}
