.page-footer {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer--index {
  display: none;
}

.page-footer__social-svg {

  fill: #d22856;
}

.page-footer__logo {
  height: 41px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  fill: $dark-blue;

  &:hover {
    fill: $red;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__maintained-link {
  @include flex-container;
  justify-content: center;
  text-decoration: none;
  color: #283645;
}

.page-footer__maintained-text {
  line-height: 18px;
  margin-top: 17px;
  max-width: 200px
}

.page-footer__maintained-logo {
  margin-left: 15px;
  margin-top: 10px;
  fill: $red;
}

.page-footer__logo--desktop {
  display: none;
}

.page-footer__maintained-link:active .page-footer__maintained-logo {
  opacity: 0.3;
}

.page-footer__maintained-link:hover .page-footer__maintained-logo {
  fill: $dark-blue;
}

.page-footer__maintained {
  max-width: 250px;
  margin: 0 auto 40px;
}

.page-footer__social {
  margin-bottom: 30px;
}

@media (min-width: 660px) {
  .page-footer {
    @include block-padding($tablet-block-padding);
    @include flex-container;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 22px;
  }

  .page-footer__logo {
    margin: 0;
    width: 147px;
    height: 40px;
  }

  .page-footer__maintained {
    display: flex;
    margin: 0;
  }

  .page-footer__maintained-link {
    display: flex;
  }

  .page-footer__maintained-text {
    margin: auto 0;
    margin-right: 15px;
    margin-top: 20px;
  }

  .page-footer__maintained-logo {
    margin: auto 0;
    fill: #d22856;
    margin-top: 12px;
  }

  .social-list__item:not(:last-child) {
    margin-right: 12px;
  }

  .page-footer__social {
    max-width: 300px;
    margin-left: -15px;
    margin-top: 2px;
  }
}

@media (min-width: 960px) {
  .page-footer {
    @include block-padding($desktop-block-padding);
    @include centered($desktop-width);
    padding-top: 18px;
    padding-bottom: 45px;
  }

  .page-footer--index {
    padding-top: 70px;
  }

  .page-footer__maintained-text {
    font-size: $title-font;
    margin-top: 17px;
  }

  .page-footer__social {
    margin-left: 10px;
    margin-top: 2px;
  }

  .page-footer__maintained-logo {
    margin-top: 13px;
  }

  .page-footer__logo--mob-tab {
    display: none;
  }

  .page-footer__logo--desktop {
    display: block;
  }
}
