.page-title {
  @include block-padding($mobile-block-padding);
  background-repeat: no-repeat;
  min-height: 170px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.page-title--index {
  @include reset-margin-padding;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 91px;
  padding-top: 377px;
  padding-bottom: 0;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .page-title--index {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
    background-repeat: no-repeat;
  }
}

.page-title__title {
  @include block-padding($mobile-block-padding);
  @include reset-margin-padding;
  @include big-light-text;
  color: #ffffff;
  text-align: center;
  line-height: $line-h-big1;
}

.page-title__title--main {
  display: none;
  padding-top: 30px;
  padding-bottom: 48px;
}

@media (min-width: 660px) {
  .page-title {
    box-sizing: border-box;
    min-height: 330px;
    padding-top: 22px;
  }

  .page-title--index {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px 54px;
    padding-top: 32px;

    .page-title__title {
      display: block;
      width: 235px;
      font-size: 40px;
      margin-left: 55px;
      padding-bottom: 0;
      line-height: 48px;
    }

    .page-title__title--main {
      margin-left: 53px;
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-title--index {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
      background-repeat: no-repeat;
    }
  }

  .page-title__title {
    padding-top: 47px;
    padding-bottom: 29px;
    line-height: $line-h-bigger;
    font-size: 50px;
  }

  .page-title__title--main {
    padding-top: 42px;
  }

  .page-title__wrapper {
    @include reset-margin-padding;
    width: 300px;
  }
}

@media (min-width: 960px) {
  .page-title {
    @include centered($desktop-width);
    padding: 17px 105px 71px;
    min-height: 0;

    &--gallery {
      padding: 17px 160px 71px;
    }
  }

  .page-title--index {
    padding-top: 74px;
    padding-left: 0;
    padding-bottom: 0;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 23px 100px;

    .page-title__title {
      @include biggest-light-text;
      margin-left: 37px;
      width: 235px;
      padding-top: 35px;
      margin-bottom: 53px;
      line-height: 60px;
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-title--index {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
      background-repeat: no-repeat;
    }
  }
}
