.pricing {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.pricing__item {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.pricing__tariff {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing__heading {
  display: none;
  background-color: #283645;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing__heading--empty {
  display: none;
}

.pricing__title {
  @include titles-white;
  @include reset-margin-padding;
}

.pricing__prise {
  @include big-light-text;
  @include reset-margin-padding;
  color: #ffffff;
}

.pricing__includes-row {
  @include flex-container;
  background-color: #ffffff;
  justify-content: space-between;
}

.pricing__heading--hit {
  position: relative;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.pricing__heading--visible {
  display: block;
  width: 320px;
}

.pricing__hit-element {
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 10px;
  transform: rotate(-45deg);
}

.pricing__includes {
  display: none;
  width: 28px;
  height: 28px;
}

.pricing__includes--visble {
  display: table-cell;
}

.pricing__includes--checked {
  width: 32px;
  height: 32px;
}

.pricing__includes--yes {
  fill: #3dc644;
}

.pricing__includes--no {
  fill: #f25b26;
}

.pricing__triangle-poly {
  fill: #ffffff;
}

.pricing__triangle {
  margin-bottom: 75px;
}

@media (min-width: 660px) {
  .pricing__heading {
    width: 160px;
    display: table-cell;
  }

  .pricing__toggles {
    display: none;
  }

  .pricing__includes,
  .pricing__heading--empty {
    display: table-cell;
  }

  .pricing__includes-row {
    display: table-row;
  }
}

@media (min-width: 1200px) {
  .pricing {
    @include block-padding($desktop-block-padding);
  }
}
