.pricing {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 45px;
}

.pricing__table {
  position: relative;
  left: -536px;
  width: 1114px;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  margin-top: 60px;
  margin-bottom: 32px;
}

.pricing__tariff {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing__heading {
  @include reset-margin-padding;
  border: 2px solid #e5e5e5;
  background-color: #283645;
  padding-top: 20px;
  padding-bottom: 20px;
  display: table-cell;
  width: 276px;
}

.pricing__heading--empty {
  background-color: transparent;
  border: none;
}

.pricing__title {
  @include titles-white;
  @include reset-margin-padding;
}

.pricing__prise {
  @include big-light-text;
  @include reset-margin-padding;
  color: #ffffff;
}

.pricing__includes-row {
  background-color: #ffffff;
}

.pricing__heading--hit {
  position: relative;
}

.pricing__hit-element {
  background-image: url("../img/bg-hit.svg");
  color: #ffffff;
  position: absolute;
  top: 0;
  left: -2px;
  width: 74px;
  height: 73px;
  display: block;


  &::before {
    @include before-after(25px, 16px);
    content: "ХИТ";
    font-weight: 400;
    transform: rotate(-45deg);
    top: 17px;
    left: 8px;
  }
}

.pricing__includes {
  @include reset-margin-padding;
  border: 2px solid #e5e5e5;
  width: 28px;
  height: 28px;
}

.pricing__cell-wrapper {
  @include flex-container;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 15px 18px 20px;
  text-transform: uppercase;

  &--no {
    padding-top: 15px;

    .pricing__filter-on-mobile {
      margin-top: 3px;
    }
  }
}

.pricing__includes--checked {
  width: 28px;
  height: 28px;
}

.pricing__includes-svg--no {
  fill: #f25b26;
}

.pricing__includes-svg--yes {
  fill: #49ca50;
}

.pricing__triangle-poly {
  fill: #ffffff;
}

.pricing__triangle {
  margin-bottom: 60px;
}

@media (min-width: 660px) {
  .pricing {
    padding-bottom: 37px;
  }

  .pricing__table {
    width: 620px;
    left: 20px;
    margin-top: 30px;
    border: none;
  }

  .pricing__heading {
    width: 160px;
    padding-top: 18px;
    padding-bottom: 9px;
    border: 2px solid #283645;
    border-top: none;
  }

  .pricing__heading:not(:last-child):not(:first-child) {
    border-right: 2px solid #ffffff;
  }

  .pricing__hit-element {
    top: 8px;
    left: 7px;
    font-weight: 500;
  }

  .pricing__heading--hit {
    background-position: 0 -12px;
  }

  .pricing__heading--empty {
    border: none;
  }

  .pricing__toggles {
    display: none;
  }

  .pricing__includes,
  .pricing__heading--empty {
    display: table-cell;
  }

  .pricing__includes-row {
    display: table-row;
  }

  .pricing__filter-on-mobile {
    display: none;
  }

  .pricing__cell-wrapper {
    display: block;
    padding-top: 11px;
    padding-bottom: 5px;
  }

  .pricing__title {
    font-size: 16px;
  }

  .pricing__prise {
    font-size: 18px;
    line-height: $line-h-big1;
  }

  .pricing__option {
    text-align: left;
    padding-left: 15px;
    border: 2px solid #e5e5e5;
  }

  .pricing__includes-text {
    line-height: $line-h-big1;
  }
}

@media (min-width: 960px) {
  .pricing {
    @include block-padding($desktop-block-padding);
    padding-bottom: 62px;
  }

  .pricing__table {
    width: 940px;
    left: 0;
    margin-top: 63px;
  }

  .pricing__title {
    font-size: 18px;
    line-height: $line-h-big1;
  }

  .pricing__prise {
    font-size: 24px;
    line-height: $line-h-big1;
  }

  .pricing__heading {
    padding-bottom: 19px;
  }

  .pricing__includes-text {
    font-size: 18px;
  }

  .pricing__option {
    padding-left: 21px;
    width: 139px;
  }

  .pricing__cell-wrapper {
    padding-top: 22px;
    padding-bottom: 11px;

    &--no {
      padding-top: 19px;
    }
  }

  .pricing__hit-element {
    top: 0;
    left: 0;
  }

  .pricing__heading--hit {
    background-position: 0 -1px;
  }
}
