.pricing {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 45px;
}

.pricing__table {
  position: relative;
  left: -536px;
  width: 1114px;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  margin-bottom: 32px;
}

.pricing__tariff {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing__heading {
  @include reset-margin-padding;
  border: 2px solid #e5e5e5;
  background-color: #283645;
  padding-top: 20px;
  padding-bottom: 20px;
  display: table-cell;
  width: 276px;
}

.pricing__heading--empty {
  background-color: transparent;
  border: none;
}

.pricing__title {
  @include titles-white;
  @include reset-margin-padding;
}

.pricing__prise {
  @include big-light-text;
  @include reset-margin-padding;
  color: #ffffff;
}

.pricing__includes-row {
  background-color: #ffffff;
}

.pricing__heading--hit {
  position: relative;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.pricing__hit-element {
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 10px;
  transform: rotate(-45deg);
}

.pricing__includes {
  @include reset-margin-padding;
  border: 2px solid #e5e5e5;
  width: 28px;
  height: 28px;
}

.pricing__cell-wrapper{
  @include flex-container;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 15px 18px 20px;
  text-transform: uppercase;

  &--no {
    padding-top: 15px;

    .pricing__filter-on-mobile {
      margin-top: 3px;
    }
  }
}

.pricing__includes--checked {
  width: 28px;
  height: 28px;
}

.pricing__includes--yes {
  fill: #3dc644;
}

.pricing__includes--no {
  fill: #f25b26;
}

.pricing__triangle-poly {
  fill: #ffffff;
}

.pricing__triangle {
  margin-bottom: 60px;
}

@media (min-width: 660px) {
  .pricing__heading {
    width: 160px;
  }

  .pricing__toggles {
    display: none;
  }

  .pricing__includes,
  .pricing__heading--empty {
    display: table-cell;
  }

  .pricing__includes-row {
    display: table-row;
  }
}

@media (min-width: 960px) {
  .pricing {
    @include block-padding($desktop-block-padding);
  }
}
