.site-navigation {
  @include reset-list;
  width: 100%;
}

.site-navigation__link,
.site-navigation__item {
  width: 100%;
  display: block;
}

.site-navigation__link {
  @include titles-white;
  text-decoration: none;
  background-color: #283645;
}

@media (min-width: 660px) {
  .site-navigation{
    display: none;
  }
}

@media (min-width: 1200px) {
  .site-navigation{
    @include flex-container;
    justify-content: space-between;
    width: 800px;
  }
  .site-navigation__link,
  .site-navigation__item {
    width: auto;
    background-color: transparent;
    height: auto;
}
}
