.social-list {
  @include reset-list;
  @include flex-container;
  justify-content: center;
}

.social-list__item {
  position: relative;
  margin: auto 0;
  width: 45px;
  height: 45px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);

    .page-footer__social-svg {
      opacity: 0.3;
    }
  }
}

.social-list__item:not(:last-child) {
  margin-right: 12px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.social-list__social-svg {
  fill: #d22856;
}
