.social-list {
  @include reset-list;
  @include flex-container;
  justify-content: center;
}

.social-list__twitter {
  @include social-link;
  background-image: url("../img/icon-twitter-red.svg");
}

.social-list__facebook {
  @include social-link;
  background-image: url("../img/icon-facebook-red.svg");
}

.social-list__youtube {
  @include social-link;
  background-image: url("../img/icon-youtube-red.svg");
}
