.social-list {
  @include reset-list;
  @include flex-container;
  justify-content: center;
}

.social-list__item {
  position: relative;
  margin: auto 0;
  width: 45px;
  height: 45px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);

    .page-footer__social-svg {
      opacity: 0.3;
    }
  }
}

.page-footer__social-svg {
  position: absolute;
  top: 17px;
  left: 16px;
  fill: #d22856;

}

.social-list__facebook .page-footer__social-svg {
  top: 14px;
  left: 19px;
}

.social-list__twitter .page-footer__social-svg {
  top: 17px;
  left: 15px;
}
