
.triangle-spacer {
  fill: #ffffff;
  margin-left: -20px;
  width: 100%;
}

@media (min-width: 660px) {
  .triangle-spacer {
    width: 100%;
    height: 52px;
  }
}

@media (min-width: 960px) {
  .triangle-spacer {
    width: 100%;
    height: 76px;
  }
}
