body {
  @include reset-margin-padding;
  font: $regular-font "Open Sans", "Arial", sans-serif;
  color: $dark-blue;
}

.page-main {
  overflow: hidden;
}

@media (min-width: 960px) {
  .page-main {
    @include centered($desktop-width);
  }
}
