@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin centered($width) {
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin block-padding($padding) {
  width: 100%;
  box-sizing: border-box;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin mobile-block {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
}

@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin social-link {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
}

@mixin titles {
  font-size: $title-font;
  font-weight: bold;
}

@mixin titles-white {
  font-size: $title-font;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

@mixin big-light-text {
  font-size: $large-font;
  font-weight: $font-light;
}

@mixin bigger-font {
  font-size: $bigger-font;
  line-height: $line-h-bigger;
  font-weight: $font-light;
}

@mixin biggest-light-text {
  font-size: $biggest-font;
  font-weight: $font-light;
}

@mixin heading($font-size, $font-weight: $font-bold, $line-height: 1.2, $font-color: #000000) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
  line-height: $line-height;
}

@mixin before-after($width, $height) {
  position: absolute;
  display: block;
  content: "";
  width: $width;
  height: $height;
  box-sizing: border-box;
}

@mixin radio-check($width: 35px, $height: 35px) {
  width: $width;
  height: $height;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  display: block;
  margin-right: 30px;
}
