$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-block-padding: 20px;
$tablet-block-padding: 20px;
$desktop-block-padding: 10px;
$font-regular: 400;
$font-light: 300;
$font-bold: 700;
$regular-font: 14px;
$title-font: 18px;
$large-font: 24px;
$middle-big: 30px;
$bigger-font: 40px;
$biggest-font: 50px;
$red: #d22856;
$gray: #b5b9be;
$line-h-big: 24px;
$line-h-big1: 30px;
$line-h-bigger: 1.2;
$line-h-super-big: 60px;
$line-height_s3: 1.7;
